{% extends 'backoffice/main/base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}

    <h1 class="mt-3 mx-3">Marques</h1>

    {#% include "backoffice/fragments/_flash_message.html.twig" %#}

    {#{ include('backoffice/user/_search.html.twig') }#}

    <div class="text-end mb-3">
        <a href="{#{ path('marque_list', { 'sort': 'id', 'order': (app.request.query.get('sort') == 'id' and app.request.query.get('order') == 'asc') ? 'desc' : 'asc' }) }#}" class="btn btn-outline-primary mx-1">
            Trier par nom {#% if sort == 'id' %}{% if order == 'asc' %#}<i class="bi bi-caret-up-fill"></i>{#% else %#}<i class="bi bi-caret-down-fill"></i>{#% endif %}{% endif %#}
        </a>
        <a href="{{ path('marque_new') }}" class="btn btn-outline-info mx-3">Créer une nouvelle marque</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr class="table-active">
                <td>{{ marque.id }}</td>
                <td>{{ marque.nom }}</td>
                <td>{{ marque.description }}</td>
                <td>
                    <a href="{{ path('marque_show', {'id': marque.id}) }}"><i class="bi bi-eye btn btn-sm btn-success rounded"></i></a>
                    <a href="{{ path('marque_edit', {'id': marque.id}) }}"><i class="bi bi-pencil btn btn-sm btn-warning rounded"></i></a>
                    <a href="{#{ path('marque_delete', {'id': marque.id}) }#}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')"><i class="bi bi-trash btn btn-sm btn-danger rounded"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune marque trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- pagination -->
        {#% include 'backoffice/fragments/_pagination.html.twig' %#}

{% endblock %}